<?xml version="1.0" encoding="UTF-8"?><!--
    Copyright (c) 2011 Gaku
    Copyright (c) 2020 eamat.
    Licensed under the MIT License:
    https://github.com/eamat-dot/TablacusExplorer-Addons/blob/master/LICENSE.txt
-->
<!-- ChangeLog
  2020/12/16  ver.1.01
    オリジナル(フィルターで色分け)の更新に追従(WebView2対応っぽい)
    * バージョン表記は独自に刻んでも分かりにくいのでオリジナルアドオンと合わせることにした
  2021/03/20  ver.1.02
-->

<TablacusExplorer>
  <General>
    <Version>1.02</Version>
    <MinVersion>2021.3.7</MinVersion>
    <pubDate>Sat, 13 Mar 2021 00:00:00 GMT</pubDate>
    <Options>Common:0,4:4</Options>
    <Level>2</Level>
    <Creator>eamat. (original Gaku)</Creator>
    <URL>https://github.com/eamat-dot/TablacusExplorer-Addons</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Background Colored with filter</Name>
    <Description>Background Colored with filter</Description>
  </en>
  <ja>
    <Name>フィルターで背景色分け</Name>
    <Description>フィルター( *.txt;*.ini; など)で判別して、ファイル名やフォルダ名の背景に色をつける</Description>
  </ja>
</TablacusExplorer>
