<?xml version="1.0" encoding="UTF-8"?>

<!--
    Copyright (c) 2011 Gaku
    Licensed under the MIT License:
    http://www.opensource.org/licenses/mit-license.php

    <TablacusExplorer>
      <General>
        <Version>1.04</Version>
        <MinVersion>2019.1.17</MinVersion>
        <pubDate>Sat, 19 Jan 2019 00:00:00 GMT</pubDate>
        <Options>Common:4:4</Options>
        <Creator>Gaku</Creator>
        <URL>http://tablacus.github.io/TablacusExplorerAddons/</URL>
        <License>MIT License</License>
      </General>
      <en>
        <Name>Colored with extension</Name>
        <Description>Colored with file extension</Description>
      </en>
      <ja>
        <Name>拡張子で色分け</Name>
        <Description>拡張子で色分け</Description>
      </ja>
    </TablacusExplorer>
 -->

<TablacusExplorer>
  <General>
    <Version>1.00</Version>
    <MinVersion>2019.1.17</MinVersion>
    <pubDate>Fri, 22 May 2020 00:00:00 GMT</pubDate>
    <Options>Common:4:4</Options>
    <Creator>eamat (original Gaku)</Creator>
    <URL>https://github.com/eamatt/TablacusExplorer-Addons</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Background Colored with extension</Name>
    <Description>Background Colored with file extension</Description>
  </en>
  <ja>
    <Name>拡張子で背景色分け</Name>
    <Description>拡張子で判別して、ファイル名の背景に色をつける</Description>
  </ja>
</TablacusExplorer>
