<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <!-- <Version>1.04</Version> -->
    <Version>1.00</Version>
    <MinVersion>2019.4.15</MinVersion>
    <pubDate>Fri, 22 May 2020 00:00:00 GMT</pubDate>
    <Options>Common:0:0</Options>
    <Creator>eamat (original Gaku)</Creator>
    <URL>https://github.com/eamatt/TablacusExplorer-Addons</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>Background Colored with attributes</Name>
    <Description>Background Colored with attributes</Description>
  </en>
  <ja>
    <Name>属性で背景色分け</Name>
    <Description>属性(システム属性や隠しファイル属性など)で判別して、ファイル名やフォルダ名の背景に色をつける</Description>
  </ja>
</TablacusExplorer>
